* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./assets/leaderboard-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  overflow: hidden;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title-container {
  padding: 2rem;
}

.title-container div {
  font-size: 3rem;
  background-color: #1b335c;
  text-align: center;
  padding: 0.5rem;
  color: #ccc;
  border-radius: 0.4rem;
  border: 4px #ccc solid;
}

.content-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.score,
.add-score {
  width: 40%;
}

.recent-score-and-refresh-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  color: #1b335c;
}

button {
  background-color: #2397cb;
  padding: 0.5rem;
  padding-inline: 1rem;
  border: none;
  border-radius: 0.2rem;
  border-bottom: 3px solid #ccc;
  cursor: pointer;
  color: #fff;
}

button:hover {
  background-color: #2091c5;
}

.name-and-score-container {
  margin-top: 2rem;
  list-style: none;
  counter-reset: item;
  height: 80%;
  overflow: hidden;
  overflow-y: scroll;
}

.name-and-score-container::-webkit-scrollbar {
  width: 0.4em;
}

.name-and-score-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.name-and-score-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  outline: 1px solid slategrey;
  border-radius: 0.2em;
}

.name-and-score-container li {
  counter-increment: item;
  display: flex;
  align-items: center;
  padding: 0.2rem;
  color: white;
}

.name-and-score-container li span {
  width: 100%;
  padding: 0.7rem;
  background-color: #2397cb;
  border-radius: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-and-score-container :nth-child(n+4) {
  height: 3.2rem;
  padding-right: 1rem;
}

.name-and-score-container :nth-child(n+4) span {
  position: relative;
  left: 0.7rem;
  padding: 0.7rem;
}

.name-and-score-container :nth-child(1) {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.name-and-score-container :nth-child(2) {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.name-and-score-container :nth-child(3) {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.name-and-score-container :nth-child(n+4)::before {
  padding: 0.4rem;
  content: counter(item);
  background-color: darkblue;
  border-radius: 100%;
  color: white;
  width: 1.3rem;
  height: 1.3rem;
  font-size: 1.2rem;
  text-align: center;
  display: inline-block;
}

.name-and-score-container li:first-child::before {
  content: '';
  display: inline-block;
  height: 3rem;
  width: 3rem;
  background-image: url('./assets/rank-1.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.name-and-score-container li:nth-child(2)::before {
  content: '';
  display: inline-block;
  height: 3rem;
  width: 3rem;
  background-image: url('./assets/rank-2.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.name-and-score-container li:nth-child(3)::before {
  content: '';
  display: inline-block;
  height: 3rem;
  width: 3rem;
  background-image: url('./assets/rank-3.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.input-container {
  margin-top: 2.8rem;
  display: flex;
  flex-direction: column;
}

.input-container form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  justify-content: space-evenly;
  width: 100%;
}

.input-container form input {
  margin-bottom: 1.2rem;
  padding: 1rem;
  background-color: #ccc;
  border: none;
  font-size: 1rem;
  outline: none;
  border-radius: 0.2rem;
  border-bottom: #1b335c 3px solid;
}

.input-container form .submit-btn {
  width: 100%;
}

.input-container form .submit-btn button {
  float: right;
  padding-inline: 3rem;
}
